<!-- wp:template-part {"slug":"header","theme":"tenku-child","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"vip-home-main","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<main class="wp-block-group alignfull vip-home-main">
	<!-- wp:acf/vip-home {"name":"acf/vip-home","mode":"preview"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tenku-child","tagName":"footer"} /-->
